body {
  font-family: Space Grotesk, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px 5% 0 5%;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(43px, 5vw, 60px);
  font-weight: 500;
  color: #000000;
}

h2 {
  font-size: clamp(36px, 4vw, 40px);
  font-weight: 500;
  color: #000000;
}

h3 {
  font-size: clamp(26px, 3vw, 30px);
  font-weight: 500;
  color: #000000;
}

h4 {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 500;
  color: #000000;
}

p {
  font-size: clamp(16px, 1.8vw, 18px);
  font-weight: 400;
  color: #000000;
}

.bg-B9FF66 {
  background-color: #B9FF66;
  border-radius: 7px;
  padding: 0 7px;
  display: inline-block;
}

.bg-F3F3F3 {
  background-color: #F3F3F3;
  border-radius: 7px;
  padding: 0 7px;
  display: inline-block;
}

.bg-191A23 {
  background-color: #191A23;
  border-radius: 7px;
  padding: 0 7px;
  display: inline-block;
}
.col-white {
  color: white;
}

.col-green {
  color: #B9FF66;
}

.no-mg {
  margin: 0;
}

.no-mgtop {
  margin-top: 0;
}

.no-mgbot {
  margin-bottom: 0;
}

.mg26px {
  margin: 26px 0;
}

.mg35px {
  margin: 35px 0;
}

.dpinline {
  display: inline-block;
}
.dpblock {
  display: block;
}

.fw-400 {
  font-weight: 400;
}
.no-wrap {
  white-space: nowrap;
}

.nav-ani {
  position: relative;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.nav-ani::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: 0.4s;
}

.nav-ani:hover::after {
  width: 100%;
}


.black-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 68px;
  background-color: #191A23;
  color: white;
  border: none;
  padding: 0;
  border-radius: 13px;
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

  /* Header */
header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 70px;
}

.header-logo-container {
  width: 35%;
}

.header-nav {
  width: 65%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.request-quote {
  border: 1px solid #191A23;
  border-radius: 13px;
  padding: 20px 35px;
  transition: 0.3s;
}

  /* Front Page */
.front-page {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 70px;
}

.front-page-left {
  display: flex;
  flex-direction: column;
  flex: 0.392;
}

.front-page-right {
  flex: 0.5;
}
.front-page-right svg {
  width: 100%;
  height: auto;
}

/* front page svg animation */
@keyframes jump1 {
  
0% { transform: translateY(-5px);}

100% { transform: translateY(5px);}

}

#megaphone {
  animation: jump1 ease-in-out 2s infinite alternate;
}


@keyframes jump2 { 

  0% {
   transform: translateY(5px);
}
100% {
  transform: translateY(-5px);
  
}

}

#heart-icon {
  animation: jump2 2s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes jump3 { 

  0% {
   transform: translateY(-8px);
}
100% {
  transform: translateY(8px);
  
}

}

#play-icon {
  animation: jump3 2s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}


#share-icon {
  animation: jump2 5s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes jump4 { /*  rings rotate ani  */

  0% {
    rotate: -1deg;
}
100% {
  rotate: 1deg;
}

}

#rings {
  animation: jump4 3s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}

#small-green-ball {
  animation: jump3 3s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes jump5 {
  0% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(15px);
  }
}

#black-ball {
  animation: jump3 6s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}

#location-icon {
  animation: jump2 4s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}

#big-diamond {
  animation: jump5 4s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}

#small-diamond {
  animation: jump1 3s ease-in-out infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}


  /* sponsors logos */
.sponsors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.sponsors img {
  filter: grayscale(100%);
  transition: 0.5s;
}
.sponsors img:hover {
  filter: grayscale(0);
  scale: 1.05;
}

  /* services */
.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.services-header {
  display: flex;
  align-items: center;
  width: 62%;
  gap: 40px;
  margin-bottom: 80px;
}

.services-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.services-items-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-sizing: content-box;
}

.services-white-box {
  display: flex;
  flex: 0.48;
  height: 240px;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 50px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  border-radius: 60px;
  transition: transform 0.15s, border-width 0.15s;
}

.services-white-box:active {
  transform: translateY(8px);
  border-width: 1px;
}

.services-green-box {
  display: flex;
  flex: 0.48;
  height: 240px;
  justify-content: space-between;
  background-color: #B9FF66;
  padding: 50px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  border-radius: 60px;
  transition: transform 0.15s, border-width 0.15s;
}
.services-green-box:active {
  transform: translateY(8px);
  border-width: 1px;
}

.services-black-box {
  display: flex;
  flex: 0.48;
  height: 240px;
  justify-content: space-between;
  background-color: #191A23;
  padding: 50px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  border-radius: 60px;
  transition: transform 0.15s, border-width 0.15s;
}
.services-black-box:active {
  transform: translateY(8px);
  border-width: 1px;
}

.services-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.45;
}

.services-box-left-bottom {
  display: flex;
  gap: 10px;
}

.services-box-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}

  /* free proposal */
.free-proposal {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #F3F3F3;
  border-radius: 60px;
  padding: 60px;
  margin-bottom: 100px;
}

.free-proposal-left {
  display: flex;
  flex-direction: column;
  flex: 0.4;
}

.free-proposal-right {
  position: relative;
  flex: 0.5;
}

.free-proposal-right img {
  position: absolute;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  margin: auto;
}

  /* case studies */
.case-studies {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 140px;
}

.case-studies-header {
  display: flex;
  gap: 40px;
  width: 65%;
  align-items: center;
  margin-bottom: 80px;
}

.case-studies-body {
  display: flex;
  background-color: #191A23;
  padding: 70px 60px;
  border-radius: 60px;
}

.body-text-container {
  flex: 0.333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.padding-left-right {
  padding: 0 52px;
}

.padding-left {
  padding-left: 52px;
}

.padding-right {
  padding-right: 52px;
}

.border-left-right {
  border: solid #F3F3F3;
  border-width:  0 1px ;
}

.text-container-l2 {
  display: flex;
  align-items: center;
}


  /* Working Process */
.working-process {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 140px;
}

.working-process-header {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 40px;
  margin-bottom: 80px;
}

.working-process-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}

.working-process-items input {
  appearance: none;
}

.process-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170px;
  background-color: #F3F3F3;
  padding: 41px 60px;
  border-radius: 30px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  transition: 0.5s;
  box-sizing: border-box;
  overflow: hidden;
}

.process-item-container:has(input:checked) {
  background-color: #B9FF66;
  height: 274px;
}

.bg-B9FF66-only {
  background-color: #B9FF66;
}

.process-item-l1 {
  display: flex;
  flex: 1;
  align-items: center;
  transition: 0.5s;
}

.process-item-container:has(input:checked) .process-item-l1 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}


.process-item-l1::after {
  position: absolute;
  left: -50%;
  right: -50%;
  margin: auto;
  content: '';
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #191A23;
  transition: 0.5s;
}

.process-item-container:has(input:checked) .process-item-l1::after {
  width: 100%;
}


.process-l1-right-btn input {
  appearance: none;
}

.process-l1-right-btn {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border: 1px solid #191A23;
  background-color: #F3F3F3;
  position: relative;
}

.vertical-cross {
  width: 5px;
  height: 20px;
  position: absolute;
  background-color: #000000;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  margin: auto;
  transition: 0.6s;
}

.process-l1-right-btn:has(input:checked) .vertical-cross {
  background-color: #00000000;
  rotate: 90deg;
}

.horizontal-cross {
  width: 20px;
  height: 5px;
  position: absolute;
  background-color: #000000;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  margin: auto;
}

.process-item-l1-left {
  display: flex;
  flex: 0.7;
  justify-content: left;
  align-items: center;
  gap: 25px;
}

.process-item-l1-right {
  display: flex;
  flex: 0.3;
  justify-content: right;
  align-items: center;
}

.process-item-l2 {
  opacity: 0;
  transition: 0.5s;
}

.process-item-container:has(input:checked) .process-item-l2 {
  opacity: 1;
}

  /* team */
.team {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
}

.team-header {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 40px;
  margin-bottom: 80px;
}

.team-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.team-items-row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.team-item-container {
  display: flex;
  flex-direction: column;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  border-radius: 40px;
  width: 31%;
  height: 365px;
  box-sizing: border-box;
  padding: 40px 35px;
}

.team-item-container-top {
  display: flex;
  width: 100%;
  padding-bottom: 28px;
  margin-bottom: 28px;
  border-bottom: 1px solid #191A23;
  gap: 20px;
}

.team-item-ctn-top-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.team-item-ctn-top-right-top {
  display: flex;
  justify-content: right;
}

.team-item-ctn-top-right-bot {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
}

.team-btn-container {
  display: flex;
  width: 100%;
  justify-content: end;
}

  /* testimonials */
.testimonials {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 140px;
}

.testimonials-header {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 40px;
  margin-bottom: 80px;
}

.testim-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 625px;
  border-radius: 60px;
  background-color: #191A23;
  padding: 84px 0 68px 0;
  box-sizing: border-box;
  justify-content: space-between;
}

.testim-items-top {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  gap: 50px;
}

.testim-item-bubble-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 606px;
}

.testim-item-bubble {
  width: 606px;
  height: 238px;
  padding: 40px;
  border-radius: 40px;
  border: 1px solid #B9FF66;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
}

.testim-item-bubble::before {
  content: '';
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #B9FF66;
  border-bottom: 30px solid transparent;
  left: 50px;
  bottom: -60px;
}

.testim-item-bubble::after {
  content: '';
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #191A23;
  border-bottom: 30px solid transparent;
  left: 50px;
  bottom: -59px;
}

.testim-item-bubble-bottom {
  margin-left: 80px;
}

.testim-items-bot {
  display: flex;
  justify-content: center;
}


  /* contact us */
  .contact-us {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 140px;
  }
  
  .contact-us-header {
    display: flex;
    align-items: center;
    width: 47%;
    gap: 40px;
    margin-bottom: 80px;
  }

  .contact-us-items-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 773px;
    background-color: #F3F3F3;
    border-radius: 40px;
    border: none;
    padding: 60px 0 60px 100px;
    box-sizing: border-box;
  }

  .contact-us-items-left {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .contact-items-left-radio1 {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
  }

  .contact-items-left-radio1 label {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contact-items-radio-btn input {
    appearance: none;
  }

  .contact-items-radio-btn {
    width: 25px;
    height: 25px;
    border: 1px solid #191A23;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-items-radio-btn::after {
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
    background-color: #B9FF66;
    opacity: 0;
    scale: 0.8;
    transition: 0.3s;
  }

  .contact-items-radio-btn:has(input:checked)::after {
    opacity: 1;
    scale: 1;
  }

.contact-items-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.t16px {
  font-size: 16px;
}

.contact-text-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text-name input {
  width: 100%;
  height: 57px;
  background-color: white;
  border: 1px solid #191A23;
  border-radius: 15px;
  padding: 18px 30px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Space Grotesk, sans-serif;
  transition: 0.2s;
}

.contact-text-name input:focus {
  border: 1px solid #B9FF66;
  outline: none;
}

.contact-text-name input::placeholder {
  font-family: Space Grotesk, sans-serif;
}

.contact-text-email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text-email input {
  width: 100%;
  height: 57px;
  background-color: white;
  border: 1px solid #191A23;
  border-radius: 15px;
  padding: 18px 30px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Space Grotesk, sans-serif;
  transition: 0.2s;
}

.contact-text-email input:focus {
  border: 1px solid #B9FF66;
  outline: none;
}

.contact-text-email input::placeholder {
  font-family: Space Grotesk, sans-serif;
}

.contact-text-message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text-message textarea {
  width: 100%;
  height: 188px;
  background-color: white;
  border: 1px solid #191A23;
  border-radius: 15px;
  padding: 18px 30px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Space Grotesk, sans-serif;
  transition: 0.2s;
  resize: none;
}

.contact-text-message textarea:focus {
  border: 1px solid #B9FF66;
  outline: none;
}

.contact-text-message textarea::placeholder {
  font-family: Space Grotesk, sans-serif;
}

.max-width {
  width: 100%;
}

.contact-us-items-right {
  display: flex;
  align-items: center;
}

  /* footer */
.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #191A23;
  border-radius: 30px 30px 0 0;
  padding: 55px 60px 50px 60px;
  box-sizing: border-box;
}

.footer-l1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}

.footer-l1-nav {
  display: flex;
  gap: 40px;
}

.footer-l1-nav a {
  text-decoration: underline;

}

.footer-l1-right {
  display: flex;
  gap: 20px;
}

.footer-l2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.footer-l2-left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer-l2-left-top {
  margin-bottom: 25px;
}

.footer-l2-left-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-l2-right {
  display: flex;
  background-color: #292A32;
  width: 55%;
  border-radius: 20px;
  padding: 58px 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer-l2-right input {
  width: 285px;
  height: 66px;
  background-color: transparent;
  border: 1px solid white;
  color: white;

  border-radius: 15px;
  padding: 18px 30px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Space Grotesk, sans-serif;
  transition: 0.2s;
}

.footer-l2-right input:focus {
  border: 1px solid #B9FF66;
  outline: none;
}

.footer-l2-right input::placeholder {
  font-family: Space Grotesk, sans-serif;
  color: white;
}

.green-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 249px;
  height: 67px;
  background-color: #B9FF66;
  border: none;
  padding: 0;
  border-radius: 13px;
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}

.footer-l3 {
  display: flex;
  gap: 40px;
}

.footer-l3 a {
  text-decoration: underline;

}


  /* 1280px screen */
@media screen and (max-width: 1280px) {

  .request-quote {
    padding: 16px 30px;
  }
  .front-page-left {
    flex: 0.45;
  }

  .working-process-header {
    width: 65%;
  }

  .services-box-left {
    flex: 0.5;
  }

  .testimonials-header {
    width: 68%;
  }

  .contact-us-header {
    width: 50%;
  }
  .footer-l2-left {
    width: 35%;
  }
  .footer-l2-right input {
    width: 240px;
  }

  .green-button {
    width: 210px;
    font-size: 18px;
  }
}

  /* 1024 screen */
@media screen and (max-width: 1024px) {
  .header-logo-container {
    width: 27%;
  }
  .header-nav {
    width: 73%;
  }

  .front-page-left {
    flex: 0.49;
  }

  .services-header {
    width: 80%;
  }

  .services-white-box {
    padding: 40px;
  }

  .services-white-box h3 {
    font-size: 28px;
  }

  .services-green-box {
    padding: 40px;
  }

  .services-green-box h3 {
    font-size: 28px;
  }

  .services-black-box {
    padding: 40px;
  }

  .services-black-box h3 {
    font-size: 28px;
  }

  .services-box-left {
    flex: unset;
  }

  .services-box-right img {
    width: 140px;
  }

  .services-box-right {
    flex: unset;
  }

  .free-proposal-left {
    flex: 0.5;
  }

  .case-studies-header {
    width: 80%;
  }

  .case-studies-body {
    padding: 50px 40px;
  }

  .padding-right {
    padding-right: 40px;
  }
  
  .padding-left {
    padding-left: 40px;
  }

  .padding-left-right {
    padding: 0 40px;
  }

  .case-studies-body p {
    font-size: 17px;
    margin: 0;
  }

  .working-process-header {
    width: 80%;
  }
  
  .process-item-container p {
    font-size: 17px;
  }

  .process-item-l1-left {
    flex: 0.8;
  }
  .process-item-l1-right {
    flex: 0.2;
  }

  .team-header {
    width: 65%;
  }

  .team-item-container {
    padding: 28px;
    height: 320px;
  }


  .team-item-container h4 {
    font-size: 19px;
  }

  .team-item-container p {
    font-size: 17px;
  }
  .team-item-container-top {
    padding-bottom: 22px;
    margin-bottom: 22px;
    gap: 10px;
    height: 30%;
  }

  .team-img-size {
    width: 70px;
    height: auto;
  }
  .team-item-ctn-top-right-top img {
    width: 28px;
    height: auto;
  }

  .testimonials-header {
    width: 85%;
  }

  .testim-item-container {
    height: 530px;
    padding: 68px 0 48px 0;
  }

  .testim-item-bubble-container {
    width: 540px;
  }

  .testim-item-bubble-container h4 {
    font-size: 19px;
  }


  .testim-item-bubble {
    width: 540px;
  }

  .testim-item-bubble p {
    font-size: 17px;
    margin: 0;
  }

  .contact-us-header {
    width: 60%;
  }

  .contact-us-items-container {
    padding: 40px 0 40px 70px;
    height: unset;
  }

  .contact-us-items-right img {
    width: 300px;
    height: auto;
  }

  .footer-l2-left {
    width: 45%;
  }

  .footer-l2-right input {
    width: 180px;
  }

  .green-button {
    width: 160px;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  
}