body {
  font-family: Space Grotesk, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px 5%;
  box-sizing: border-box;
  padding-bottom: 500px;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  color: #000000;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.bg-B9FF66 {
  background-color: #B9FF66;
  border-radius: 7px;
  padding: 0 7px;
  display: inline-block;
}

.bg-F3F3F3 {
  background-color: #F3F3F3;
  border-radius: 7px;
  padding: 0 7px;
  display: inline-block;
}

.bg-191A23 {
  background-color: #191A23;
  border-radius: 7px;
  padding: 0 7px;
  display: inline-block;
}
.col-white {
  color: white;
}

.col-green {
  color: #B9FF66;
}

.no-mg {
  margin: 0;
}

.no-mgtop {
  margin-top: 0;
}

.no-mgbot {
  margin-bottom: 0;
}

.mg26px {
  margin: 26px 0;
}

.mg35px {
  margin: 35px 0;
}

.dpinline {
  display: inline-block;
}
.dpblock {
  display: block;
}

.fw-400 {
  font-weight: 400;
}
.no-wrap {
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.black-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 68px;
  background-color: #191A23;
  color: white;
  border: none;
  padding: 0;
  border-radius: 13px;
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

  /* Header */
header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 70px;
}

.header-logo-container {
  width: 35%;
}

.header-nav {
  width: 65%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-quote {
  border: 1px solid #191A23;
  border-radius: 13px;
  padding: 20px 35px;
}

  /* Front Page */
.front-page {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 70px;
}

.front-page-left {
  display: flex;
  flex-direction: column;
  flex: 0.392;
}

.front-page-right {
  flex: 0.5;
}
.front-page-right img {
  width: 100%;
  height: auto;
}

  /* sponsors logos */
.sponsors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.sponsors img {
  filter: grayscale(100%);
  transition: 0.5s;
}
.sponsors img:hover {
  filter: grayscale(0);
  scale: 1.05;
}

  /* services */
.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.services-header {
  display: flex;
  align-items: center;
  width: 62%;
  gap: 40px;
  margin-bottom: 80px;
}

.services-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.services-items-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-sizing: content-box;
}

.services-white-box {
  display: flex;
  flex: 0.48;
  height: 240px;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 50px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  border-radius: 60px;
  transition: transform 0.15s, border-width 0.15s;
}

.services-white-box:active {
  transform: translateY(8px);
  border-width: 1px;
}

.services-green-box {
  display: flex;
  flex: 0.48;
  height: 240px;
  justify-content: space-between;
  background-color: #B9FF66;
  padding: 50px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  border-radius: 60px;
  transition: transform 0.15s, border-width 0.15s;
}
.services-green-box:active {
  transform: translateY(8px);
  border-width: 1px;
}

.services-black-box {
  display: flex;
  flex: 0.48;
  height: 240px;
  justify-content: space-between;
  background-color: #191A23;
  padding: 50px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  border-radius: 60px;
  transition: transform 0.15s, border-width 0.15s;
}
.services-black-box:active {
  transform: translateY(8px);
  border-width: 1px;
}

.services-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.45;
}

.services-box-left-bottom {
  display: flex;
  gap: 10px;
}

.services-box-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}

  /* free proposal */
.free-proposal {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #F3F3F3;
  border-radius: 60px;
  padding: 60px;
  margin-bottom: 100px;
}

.free-proposal-left {
  display: flex;
  flex-direction: column;
  flex: 0.4;
}

.free-proposal-right {
  position: relative;
  flex: 0.5;
}

.free-proposal-right img {
  position: absolute;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  margin: auto;
}

  /* case studies */
.case-studies {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 140px;
}

.case-studies-header {
  display: flex;
  gap: 40px;
  width: 65%;
  align-items: center;
  margin-bottom: 80px;
}

.case-studies-body {
  display: flex;
  background-color: #191A23;
  padding: 70px 60px;
  border-radius: 60px;
}

.body-text-container {
  flex: 0.333;
}

.padding-left-right {
  padding: 0 52px;
}

.padding-left {
  padding-left: 52px;
}

.padding-right {
  padding-right: 52px;
}

.border-left-right {
  border: solid #F3F3F3;
  border-width:  0 1px ;
}

.text-container-l2 {
  display: flex;
  align-items: center;
}


  /* Working Process */
.working-process {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.working-process-header {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 40px;
  margin-bottom: 80px;
}

.working-process-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}

.working-process-items input {
  appearance: none;
}

.process-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170px;
  background-color: #F3F3F3;
  padding: 41px 60px;
  border-radius: 30px;
  border: solid #191A23;
  border-width: 1px 1px 8px 1px;
  transition: 0.5s;
  box-sizing: border-box;
  overflow: hidden;
}

.process-item-container:has(input:checked) {
  background-color: #B9FF66;
  height: 274px;
}

.bg-B9FF66-only {
  background-color: #B9FF66;
}

.process-item-l1 {
  display: flex;
  flex: 1;
  align-items: center;
  transition: 0.5s;
}

.process-item-container:has(input:checked) .process-item-l1 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}


.process-item-l1::after {
  position: absolute;
  left: -50%;
  right: -50%;
  margin: auto;
  content: '';
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #191A23;
  transition: 0.5s;
}

.process-item-container:has(input:checked) .process-item-l1::after {
  width: 100%;
}


.process-l1-right-btn input {
  appearance: none;
}

.process-l1-right-btn {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border: 1px solid #191A23;
  background-color: #F3F3F3;
  position: relative;
}

.vertical-cross {
  width: 5px;
  height: 20px;
  position: absolute;
  background-color: #000000;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  margin: auto;
  transition: 0.6s;
}

.process-l1-right-btn:has(input:checked) .vertical-cross {
  background-color: #00000000;
}

.horizontal-cross {
  width: 20px;
  height: 5px;
  position: absolute;
  background-color: #000000;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  margin: auto;
}

.process-item-l1-left {
  display: flex;
  flex: 0.7;
  justify-content: left;
  align-items: center;
  gap: 25px;
}

.process-item-l1-right {
  display: flex;
  flex: 0.3;
  justify-content: right;
  align-items: center;
}

.process-item-l2 {
  opacity: 0;
  transition: 0.5s;
}

.process-item-container:has(input:checked) .process-item-l2 {
  opacity: 1;
}
